
*{
    font-family: 'Poppins';
    outline: none;
}

#main_div body {
    background-color: rgb(15, 16, 18);
}

@media (max-width: 900px) {
    #main_div ul {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

#main_div h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#main_div ul {
    padding-left: 100px;
    padding-right: 100px;
}

#main_div li {
    width: 95%;
    margin: auto;
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid rgb(38, 39, 245);
    border-radius: 25px;
    margin-bottom: 10px;
    background: #ffffff00;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5 ease;
}

#main_div {
    width: 95%;
    min-height: 600px;
    height: auto;
    border-radius: 25px;
    background-color: #101010;
    border-width: 7px;
    border-style: solid;
    border-color: #ffffff;
    margin: 100px auto;
    padding-top: 20px;
}

#bar {
    width: 75%;
    height: 45px;
    border-radius: 25px;
    padding-left: 25px;
    border-style: none;
    margin-bottom: 30px;
}

#sumbit {
    width: 100px;
    height: 45px;
    background-color: rgb(38, 39, 245);
    border-style: none;
    border-radius: 25px;
    color: azure;
}

.select {
    background-color: white !important;
    color: rgb(38, 39, 245) !important;
    border-color: rgb(38, 39, 245) !important;
}

li button {
    float: right;
    color: white;
    /* background: none; */
    border-style: none;
    border-radius: 300px;
    background-color: rgb(38, 39, 245);
}
